# Edit to configure paths for your cluster computing system
# Everything after the equals sign will be taken, quotes will be filtered out

# Installation path
install_path = /opt/beocat/kstat

# Slurm base path for slurm.conf and topology.conf files
slurm_path = /etc/slurm

# SuperComputer and computing center names
system_name = Beocat
center_name = K-State

# Path to Perl library with PostgreSQL DB installed
perl_lib = /opt/beocat/kstat/perl_lib

# DB name, host, and password (this config file should not be publically readable
db_name = kstat_info
db_host = dbhost.name.edu
db_password = xxxx-xxxx-xxxx

# Open Science Grid user name on this system if any, or put "none"
osg_user_name = osgsubmit
show_osg_jobs = yes



# Condo partitions and owners in form 'condo  partition_name.q = Owner Name'

condo   ksu-admins.q                = HPC Admins
condo   ksu-comp-sci.q              = CS Grads
condo   ksu-phys-einstein.q         = A Einstein
condo   ksu-chem-nobel.q            = A Nobel
condo   vis.q                       = Vizualization
condo   interact.q                  = Interactive




